body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: Roboto;
}
h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
}
