body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  color: black;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: 700;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 50px;
  background-color: #eeeeee;
  color: black;
}

.index-logo {
  min-height: 65px;
  width: 160px;
  float: left;
  margin-right: 140px;
  padding-top: 50px;
}

.index-logo:hover {
  opacity: 0.8;
}

.index-logo:active {
  opacity: 0.3;
}

.main-navigation {
  min-height: 114px;
  width: 560px;
  float: left;
  text-transform: uppercase;
  text-align: center;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  padding-right: 45px;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.main-navigation a {
  display: block;
  padding-top: 80px;
  color: black;
  text-decoration: none;
}

.main-navigation li:last-child {
  padding-right: 0;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: black;
  opacity: 0.3;
}

.main-navigation .active {
  position: relative;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 108px;
  width: 75px;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation .active span {
  display: block;
  padding-top: 80px;
  color: black;
}

.user-block {
  min-height: 112px;
  width: 180px;
  font-weight: 500;
  float: right;
  text-align: right;
  text-transform: uppercase;
}

.cart {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 80px;
  padding-left: 46px;
  color: black;
  text-decoration: none;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  color: black;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  top: 83px;
  left: 3px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/cart-icon.png") no-repeat;
  opacity: 0.3;

}

.button {
  display:block;
  margin-top: 38px;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
  }

.button:hover {
  background: #e74246;
}

.button:active {
  background: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
  color: #df6e70;
}

.slider {
  min-height: 423px;
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

.slider-2, .slider-3 {
  display: none;
}

.slider-content {
  width: 560px;
  float: left;
  padding-top: 30px;
  padding-bottom: 75px;
}

.slider-content h1 {
  margin-bottom: 30px;
}

.slider-1 {
  min-height: 425px;
  background-image:url("../img/nerds-index-slide1.png");
  background-repeat:no-repeat;
  background-position: 430px 16px;
}

.slider-2 {
  min-height: 425px;
  background-image:url("../img/nerds-index-slide2.png");
  background-repeat:no-repeat;
  background-position: 100% 0;
}

.slider-3 {
  min-height: 425px;
  background-image:url("../img/nerds-index-slide3.png");
  background-repeat:no-repeat;
  background-position: 100% 20px;
}

.control ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.control {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 160px;
  height: 18px;
  margin-left: -80px;
  text-align: center;
  z-index: 1000;
}

.control li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background: white;
  border: 4px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.control li:nth-child(1) {
  background: white url("../img/active.png") no-repeat;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 350px;
  margin-right: 100px;
}

.features-item:last-child {
  margin-right: 0;
}

.features {
  margin-top: 80px;
  margin-bottom: 30px;
  padding-bottom: 75px;
  border-bottom: 2px solid #eeeeee;
}

.features h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.features .button {
  width: 160px;
  margin-top: 30px;
}

.features .button-green {
  display:block;
  margin-top: 30px;
  width: 160px;
  padding: 13px 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #00ca74;
  border-radius: 3px;
  }

.features .button-green:hover {
  background: #00bc6c;
}

.features .button-green:active {
  background: #00aa62;
  box-shadow: inset 0 3px 0 #009958;
  color: #4dc491;
}

.features .button-yellow {
  display:block;
  margin-top: 30px;
  width: 160px;
  padding: 13px 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #efc84a;
  border-radius: 3px;
  }

.features .button-yellow:hover {
  background: #eab534;
}

.features .button-yellow:active {
  background: #e5a722;
  box-shadow: inset 0 3px 0 #ce961f;
  color: #edc265;
}

.about-us {
  margin-bottom: 30px;
}

.index-content-left {
  float: left;
  width: 660px;
  min-height: 455px;
}

.index-content-right {
  float: right;
  width: 360px;
  min-height: 455px;
  margin-top: 12px;
}

.index-content-title {
  font-size: 45px;
  line-height: 45px;
  color: black;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 35px;
}

.index-content-left h4 {
  text-transform: uppercase;
  margin-top: 40px;
}

.index-content-left ul {
  margin-top: 22px;
  padding-left: 35px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.index-content-left li {
  position: relative;
}

.red-line {
  margin-left: 38px;
  margin-bottom: 25px;
}

.index-content-left li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 13px;
  left: 0;
  background: white url("../img/red-line.png") no-repeat;
}

.index-content-right h4 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.index-content-right ul {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  list-style-type: none;
}

.index-content-right li {
  display: inline-block;
  vertical-align: top;
  padding-right: 16px;
  padding-top: 20px;
  width: 100px;
}

.index-content-right li:last-child {
  padding-right: 0;
}

.index-content-right b {
  font-size: 45px;
  line-height: 45px;
}

.sup {
  vertical-align: super;
  font-size: 26px;
}

.index-content-right p {
  line-height: 18px;
}

.partners {
  padding-top: 45px;
  padding-bottom: 32px;
  padding-left: 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
  margin-bottom: 20px;
}

.partners ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.partner-logo {
  display: inline-block;
  position: relative;
  opacity: 0.2;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}

.partner-logo:nth-child(1) {
  width: 200px;
  padding-left: 18px;
  padding-right: 50px;
}

.partner-logo:nth-child(2) {
  padding-left: 45px;
  padding-right: 45px;
  width: 209px;
}

.partner-logo:nth-child(3) {
  padding-left: 55px;
  padding-right: 55px;
  width: 185px;
}

.partner-logo:nth-child(4) {
  width: 173px;
  padding-left: 10px;
}

.partner-logo::after {
  content: "";
  width: 2px;
  height: 50px;
  background: #aaaaaa;
  position: absolute;
  right: 0;
  top: 0;
}

.partner-logo:hover {
  opacity: 1;
}

.partner-logo:active {
  opacity: 0.1;
}

.partner-logo:hover::after {
  background: #eeeeee;
}

.partner-logo:active::after {
  background: #333333;
}

.partner-logo:last-child {
  margin-right: 0;
  width: 260px;
}

.partner-logo:last-child::after {
  display: none;
}

.partner-logo:nth-child(2)::after {
  top: 15px;
}

.catalog-title {
  display: block;
  width: 100%;
  min-height: 238px;
  margin: 0;
  padding-left: 220px;
}

.catalog-title h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 68px;
}

.catalog {
  min-height: 2167;
}

.catalog-content-left {
  float: left;
  width: 260px;
  min-height: 790px;
  margin-right: 140px;
}

.catalog-content-left fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog-content-left legend {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: black;
}

.range-controls {
  margin-top: 47px;
  margin-bottom: 55px;
}

.range-bar {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  background: #eeeeee;
  margin-bottom: 14px;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-bar-min {
  left: 20px;
}

.range-bar-max {
  left: 155px;
}

.range-bar-line {
  height: 2px;
  background: #d7dcde;
}

.range-bar-line-green {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-cost {
  font-size: 0;
}

.range-cost label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 120px;
}

.max {
  text-align: right;
  margin-left: 20px;
}

.range-cost input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 12px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 2px;
  background: #f1f1f1;
}

.layout {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 27px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  position: relative;
  display: block;
  margin: 0;
  line-height: 28px;
  padding-left: 36px;
  padding-bottom: 12px;
  cursor: pointer;
  color: #283136;
}

input[type="radio"]+label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background: white url("../img/radio-off.png") no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

input[type="radio"]:checked+label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background: white url("../img/radio-on.png") no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

input[type="radio"]+label:hover::before,
.layout label:hover {
  opacity: 1;
  color: black;
}

input[type="radio"]+label:disabled::before,
.layout label:disabled {
  opacity: 0.1;
  color: #d0d2d3;
}

.catalog-features {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 32px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  position: relative;
  display: block;
  margin: 0;
  line-height: 28px;
  padding-left: 36px;
  padding-bottom: 12px;
  cursor: pointer;
  color: #283136;
}

input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background: white url("../img/checkbox-off.png") no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

input[type="checkbox"]:checked+label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background: white url("../img/checkbox-on.png") no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

input[type="checkbox"]+label:hover::before,
.catalog-features label:hover {
  opacity: 1;
  color: black;
}

input[type="checkbox"]+label:disabled::before,
.catalog-features label:disabled {
  opacity: 0.1;
  color: #d0d2d3;
}

.submit {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: black;
  background: #eeeeee;
  width: 260px;
  height: 50px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background: #dfdfdf;
}

.submit:active {
  color: #b5b5b5;
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
  outline: none;
}

.submit:focus {
  outline: none;
}

.submit::-moz-focus-inner {
  border: 0;
}

.catalog-content-right {
  float: left;
  width: 760px;
  min-height: 2036px;
}

.sorting {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 36px;
  margin-bottom: 43px;
}

.catalog-content-right .title {
  float: left;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: black;
}

.sorting li {
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: black;
  opacity: 0.3;
}

.sorting li:hover {
  opacity: 0.6;
}

.sorting li:active {
  opacity: 1;
}

.sorting .sorting-active {
  opacity: 1;
}

.sorting a {
  display: block;
  padding-top: 8px;
  color: black;
  text-decoration: none;
}

.sorting-cost {
  margin-right: 26px;
}

.sorting-type {
  margin-right: 26px;
}

.sorting-name {
  margin-right: 45px;
}

.sorting-up {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 20px;
  opacity: 0.2;
  cursor: pointer;
  margin-top: 13px;
}

.sorting-down {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  opacity: 0.2;
  cursor: pointer;
  margin-top: 13px;
}

.sorting-up:hover, .sorting-down:hover {
  opacity: 0.4;
}

.sorting-up:active, .sorting-down:active {
  opacity: 1;
}

.templates {
  min-height: 1925px;
  margin-bottom: 22px;
}

.browser-bar ul {
  display: block;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 42px;
  width: 360px;
  background-color: #e9e9e9;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-top: 15px;
  padding-left: 15px;
}

.browser-bar li {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: white;
  margin-right: 5px;
}

.sedona, .pink-app, .barbershop, .mishka, .a-plus, .kvast {
  float:left;
  position: relative;
  width: 360px;
  min-height: 616px;
  margin-bottom: 30px;
}

.sedona, .barbershop, .a-plus {
  margin-right: 40px;
}

.templates-hover {
  position: absolute;
  display: none;
  width: 360px;
  height: 230px;
  bottom: 0;
  background-color: #eeeeee;
}

.templates-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.templates-item:hover .templates-hover {
  display: block;
}

.templates-item:hover .circles {
  background-color: #4d4d4d;
}

.templates-hover h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.templates-hover span {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-align: center;
}

.templates-hover .button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.paginator {
  min-height: 50px;
}

.paginator ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.paginator li {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  font-size: 16px;
  line-height: 20px;
}

.paginator-link {
  display: inline-block;
  vertical-align: top;
  padding: 15px 21px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.paginator-button {
  padding: 15px 78px;
  background-color: #eeeeee;
  color: black;
}

.paginator-link:hover {
  background-color: #dfdfdf;
  color: black;
}

.paginator-link:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
  color: #959595;
}

.pag-active {
  display: inline-block;
  vertical-align: top;
  padding: 12px 18px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: white;
  border: 3px solid #dbdbdb;
}

.main-footer {
  margin-top: 60px;
}

.map {
  position: relative;
  min-height: 417px;
}

.map-img {
  position: absolute;
  left: 50%;
  margin-left: -720px;
}

.map-markers {
  position: relative;
  margin-top: 55px;
  width: 1160px;
  margin: 0 auto;
}

.adress {
  position: absolute;
  top: 55px;
  box-sizing: border-box;
  width: 320px;
  min-height: 310px;
  background-color: white;
  margin-right: 360px;
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 48px;
}

.adress h3 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}

.adress p, .tel {
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.adress .button {
  margin-top: 35px;
  width: 220px;
}

.marker {
  position: absolute;
  top: 90px;
  left: 680px;
}

.social {
  padding-top: 67px;
  padding-left: 14px;
  padding-bottom: 70px;
}

.footer-social {
  float: left;
  min-width: 260px;
  margin-right: 130px;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 40px;
  margin-right: 10px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #e1e1e1;
}

.social-btn-vk::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 25px;
  background: transparent url("../img/vk-icon.png") no-repeat center;
}

.social-btn-fb::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 25px;
  background: transparent url("../img/fb-icon.png") no-repeat center;
}

.social-btn-inst::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 25px;
  background: transparent url("../img/insta-icon.png") no-repeat center;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.social-btn:active::before {
  opacity: 0.3;
}

.footer-frendship {
  float: left;
  width: 560px;
  min-height: 90px;
}

.footer-friendship b {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}

.footer-friendship span {
  margin-top: 10px;
  display: block;
  color: #444444;
}

.modal-write-us {
  display: none;

  position: fixed;
  box-sizing: border-box;
  bottom: 180px;
  left: 50%;
  margin-left: -480px;
  z-index: 1000;
  width: 962px;
  min-height: 590px;
  color: black;
  background-color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 65px;
  padding-bottom: 87px;
}

.modal-write-us-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-write-us-close::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 25px;
  height: 25px;
  background: transparent url("../img/close-cross.png") no-repeat;
  opacity: 0.3;
}

.modal-write-us-close:hover::before {
  opacity: 1;
}

.modal-write-us-close:active::before {
  opacity: 0.1;
}

.modal-write-us-close:focus {
  outline: none;
}

.modal-write-us-close::-moz-focus-inner{
  border: 0;
}

.modal-write-us-title {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  color: black;
}

.write-us-form {
  margin-top: 40px;
}

.write-us-form label {
  display: inline-block;
  vertical-align: top;
  width: 360px;
}


.write-us-form input[type="text"], .write-us-form textarea[name="post"] {
  width: 326px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 15px 15px;
  border: #d7dcde solid 2px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #444444;
}

.first-form {
  margin-right: 38px;
}

.write-text {
  margin-top: 10px;
}

.write-us-form textarea[name="post"] {
  width: 726px;
  min-height: 86px;
  margin-bottom: 40px;
}

.write-us-form input[type="text"]:focus::-webkit-input-placeholder {
  color: #444444;
}

.write-us-form textarea[name="post"]:focus::-webkit-input-placeholder {
  color: #444444;
}

.write-us-form input[type="text"]:hover {
  border: 2px solid #b4b9bb;
  outline: none;
}

.write-us-form textarea[name="post"]:hover {
  border: 2px solid #b4b9bb;
  outline: none;
}

.write-us-form input[type="text"]:focus {
  border: 2px solid black;
  outline: none;
}

.write-us-form textarea[name="post"]:focus {
  border: 2px solid black;
  outline: none;
}

.write-us-form-error input[type="text"] {
  border: 2px solid #e74246;
  outline: none;
}

.write-us-form-error input[type="text"]::-webkit-input-placeholder {
  color: #e74246;
}

.write-us-form span {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: black;
}

.send-mail {
    display:block;
    width: 260px;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    }

.send-mail:hover {
    background: #e74246;
  }

.send-mail:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 #c13135;
    color: #df6e70;
    outline: none;
  }

.send-mail:focus {
  outline: none;
}

.send-mail::-moz-focus-inner {
  border: 0;
}
